<div class="container">

  <h1>Editing <%= "#{@dish.name}" %></h1>

  <%= render 'form' %>

  <%= link_to 'Back', dishes_path %> |
  <%= link_to 'Destroy', @dish, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
